body{
    margin: 0px;
    background-color: #4963c0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#form{
    text-align: center;
    background: #80ace557;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #f4f4f4; 
}

input{
    font-family: 'Dela Gothic One', cursive;
    font-size: 17px;
    padding: 5px 10px;
    outline: none;
}
button{
    font-family: 'Dela Gothic One', cursive;
    color: #fff;
    background: linear-gradient(to right,#4a3ecf, #4acbe8, #3e4fcf);
    border: 1px solid #fff;
    font-size: 30px;
    transition: .33s;
    cursor: pointer;
}
button:hover{
    background: linear-gradient(to right,#554ae8,#3e9fcf ,#4a67e8);
    color: #fff;
}

