body{
    margin: 0px;
    background-color: #4963c0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#form{
    text-align: center;
    background: #80ace557;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #f4f4f4; }